In [ ]:
# string ----> alphabet+number+special char+anything
# it should me in single ,double or triple quotes
a=123
b='123'
print(a==b)

False

In [ ]:
#variable & data type

a ='10'

In [ ]:
#data types----> int,string,float,boolean,complex.
a = 10
print(a)

10

In [ ]:
type(a)

int

In [ ]:
a='10'
print(a)

10

In [ ]:
type(a)

str

In [ ]:
#data types----> int,string,float,boolean,complex.
a = -12
print(a)

-12

In [ ]:
# float----->decimal values
x= -100.987
print(x)

-100.987

In [ ]:
type(x)

float

In [ ]:
a=True
print(a)

True

In [ ]:
type(a)

bool

In [ ]:
x = 3+5j
print(x)

(3+5j)

In [ ]:
type(x)

complex

In [ ]:
#wap to add two numbers.
2+1

3

In [ ]:
a=10
a=123
a

123

In [ ]:
a=3
b=1
c=a+b
print(c)

4

In [ ]:
# Airthmetic operator-----> +,-,*,/,%
#wap to divide two numbers .
a=4
b=3
c=a//b
print(c)

1

In [ ]:
a= 1234
b= 6
result = a%b
print(result)

4

In [ ]:
#User input-----> 
# add two numbers with the help of user inputs.

# syntax----> input('print your Msg')

x = input('Plz enter the pin')
print(x)

Plz enter the pin66
66

In [ ]:
x= int(input('Enter the first number'))
y= int(input('Enter the second number'))
z = x+y
print(z)

Enter the first number88
Enter the second number88
176

In [ ]:
x = '1'
y= '2'
z = x+y
print(z)

12

In [ ]:
x= input('Enter the first number')
y= input('Enter the second number')
z = int(x)+int(y)
print(z)

Enter the first number67
Enter the second number7
74

In [ ]:
x= int(input('Enter the first number'))
y= float(input('Enter the second number'))
z = x+y
print(z)

Enter the first number67
Enter the second number1.6
68.6

In [ ]:
#conditions---->
#syntax

age = int(input("Enter your age"))
if age>18:
    print('Adult')
else:
    print('ye toh baccha hai bhai!!')

Enter your age20
Adult

In [ ]:
# cond for elif--->1. there must be if present already 
# in the code

# 2. if i declare else then you can't use elif anymore
age = int(input("Enter your age"))
if age>18:
    print('Adult')
elif age==18:
    print("Teenager")
else:
    print('ye toh baccha hai bhai!!')

Enter your age33
Adult

In [ ]:
a=2
b=2
a==b

True

In [ ]:
# A company decided to give bonus of 5% to 
# employee if his/her year of service 
# is more than 5 years.
# Ask user for their salary and year
# of service and print the net bonus amount.

salary = int(input("Enter the salary"))
year_of_service =int(input("Enter the year of service"))

if year_of_service>5:
    bonus = (salary * 5)/100
    print("You will get the bonus",bonus )
    
else:
    print("No bonus!!")

Enter the salary4445
Enter the year of service5
No bonus!!

In [ ]:
# A company decided to give bonus of 5% to 
# employee if his/her year of service 
# is more than 5 years.
# Ask user for their salary and year
# of service and print the net bonus amount.

salary = int(input("Enter the salary"))
year_of_service =int(input("Enter the year of service"))

if year_of_service>5:
    bonus = (salary * 5)/100
    print("You will get the bonus",bonus )
    
else:
    print("No bonus!!")

Enter the salary4445
Enter the year of service5
No bonus!!

In [ ]:
a = 10
b = 2
c = a/b
c5

5.0

In [ ]:
# A company decided to give bonus of 5% to 
# employee if his/her year of service 
# is more than 5 years.

# Ask user for their salary and year
# of service and print the net bonus amount.
# also print the exact amt/total salary received by the user.

salary = int(input("Enter the salary"))
yos = int(input("Enter the yos"))

if yos>5:
    bonus = salary * 0.05
    total_sal = salary + bonus
    print('bonus amt will be',bonus)
    print("Total salary will be---->",total_sal)
else:
    print('no bonus')

Enter the salary4545
Enter the yos6
bonus amt will be 227.25
Total salary will be----> 4772.25

In [ ]:
# Take values of length and breadth of a 
# rectangle from user and 
# check if it is square or not.
l = float(input("Enter the length"))
b = float(input("Enter the breadth"))
if l==b:
    print("SQuare")
else:
    print('Rectangle')

Enter the length5
Enter the breadth5
SQuare

In [ ]:
# Take three int values 
# from user and print 
# greatest among them.

a=9
b=9
c=9

if a>b and a>c:
    print("A is greater")
elif b>a and b>c:
    print("B is greater")
# else:
#     print("C is greater")
    
elif c>a and c>b:
    print("C is greater")

In [ ]:
first_number=float(input('Enter the first number'))
second_number=float(input('Enter the second number'))
third_number=float(input('Enter the third number'))
if first_number> second_number and first_number> third_number:
    print('first number is greater')
elif second_number>first_number and second_number>third_number:
    print('second number is greater')
elif third_number>first_number and third_number>second_number:
    print ('third number is greater')
else:
    print('all number are equal')

Enter the first number5
Enter the second number6
Enter the third number8
third number is greater

In [ ]:
# A shop will give discount of 10% if the cost of 
# purchased bill is more than 1000.
# Ask user for quantity
# Suppose, one unit will cost 100.
# Judge and print total cost for user.



item_price = int(input("Enter the price"))
quantity_of_item_purchase = 34
total_bill = item_price * quantity_of_item_purchase


if total_bill > 1000:
    discount = (total_bill *10 )/100
    
    price_after_discount = total_bill - discount
    print("discount op!!",discount)
    print("User will pay ---->",price_after_discount)
    
else:
    print("no discount")

In [ ]:
# A school has following rules for grading system:
# a. Below 25 - F
# b. 25 to 45 - E
# c. 45 to 50 - D
# d. 50 to 60 - C
# e. 60 to 80 - B
# f. Above 80 - A
# Ask user to enter marks and print the corresponding grade


grade =float(input("Enter your marks/percentage"))
if grade>80:
    print("A grade")
elif grade <= 80 and grade > 60:
    print("B grade")
elif grade >50 and grade <= 60:
    print("C grade")
elif grade > 45 and grade <=50:
    print("D grade")
elif grade >= 25 and grade <= 45:
    print("E grade")
elif grade < 25:
    print("F grade")

In [ ]:
a=20
b=45
c = a
a = b
b = c

print(a)

In [ ]:
#without temp variable.
# a=23
# b=90
a,b = 23,90

print(a)

In [ ]:
print(b)

In [ ]:
a = 10
b = 45
a,b = b,a
print(a)

In [ ]:
print(b)

In [ ]:
a=9
b=0
a=b
b=a
print(a)

In [ ]:
# A student will not be allowed to sit in exam 
# if his/her attendance is less than 75%.

# Take following input from user
# Number of classes held
# Number of classes attended.
# And print
# percentage of class attended
# Is student is allowed to sit in exam or not.


num_of_classes_held = 45
num_of_classes_attend = 40

per_class_attend = (num_of_classes_attend * 100 )/ num_of_classes_held
print(per_class_attend)

if per_class_attend > 75:
    print("Allowed in exam")
else:
    print("Not allowed!!")

In [ ]:
# Modify the above question to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause 
# or not ( 'Y' or 'N' ) and print accordingly.

num_of_classes_held = 45
num_of_classes_attend = 4
medical_condition = 'no'

per_class_attend = (num_of_classes_attend * 100 )/ num_of_classes_held
print(per_class_attend)

if per_class_attend > 75:
    print("Allowed in exam")
elif per_class_attend < 75:
    if medical_condition =='yes':
     print("Allowed due to medical condition")      
else:
     print("Not allowed---- No medical condition!!")
else:
     print("Not allowed!!")

SyntaxError: ignored

In [ ]:
#two types of loop
# 1 for loop
# 2 while loop
#For loop
#range function


# Syntax of for loop.

# for i in range()


# code---->

for x in range(10):
    print(x)

In [ ]:
for i in range(2,10):
    print(i)

In [ ]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(20,2,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3

In [ ]:
#Wap to print 10 natural no. using loop.

for a in range(1,11):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# WAP to print number from -10 to 10 using loop.
for i in range(-10,11):
    print(i)

In [ ]:
#While loop
#1. initialization-----> from where to start
# 2. condition
# 3. increment/decrement.


# wap to print 1-10.

x=1
while x<10:
    print(x)
    x=x+1
#     x+=1
#     x++/x--

In [ ]:
# wap to find odd & even number from 1-20 using while loop.

x = 1
while x <= 10:
    if x % 2 == 0:
        print("Even number--->",x)
    else:
        print("Odd number--->",x)
        
    x+=1

Odd number---> 1
Even number---> 2
Odd number---> 3
Even number---> 4
Odd number---> 5
Even number---> 6
Odd number---> 7
Even number---> 8
Odd number---> 9
Even number---> 10

In [ ]:
x=10
if x % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Even number

In [ ]:
x = 1
while x <= 10:
    if x % 2 != 0:
        print("Odd number--->",x)
    else:
        print("Even number--->",x)
        
    x+=1

Odd number---> 1
Even number---> 2
Odd number---> 3
Even number---> 4
Odd number---> 5
Even number---> 6
Odd number---> 7
Even number---> 8
Odd number---> 9
Even number---> 10

In [ ]:
# wap to count total number in a digit ?
#wap to reverse a number?
# Wap to find a number is prime number or not?
#wap to find a number is palindrome or not??



a=10
b=3
c = a%b
c

1

In [ ]:
a = 4589
reverse_num = 0

while a > 0:
    digit = a % 10
    reverse_num = reverse_num * 10 +digit
    a = a//10
    
    print(reverse_num)

9
98
985
9854

In [ ]:
#wap to solve prime number.

#wap to find number which is not only divisible by both 6 & 2 but also by 5.


a = 30
if a%5 == 0 and a% 2 == 0 and a % 6 ==0:
    print("Divisible")
    
else:
    print('Not div!!')

In [ ]:
x = 57
n = 0 
for i in range(1,x+1):
    if x % i == 0 :
        n = n+i
if n == x+1:
    print("prime number")
else:
    print("not prime")

not prime

In [ ]:
#wap to find a string is palindrome or not??
a = 'nitin'
b = ''
for i in a:
    b = i+b
if a==b:
    print("Palindrome")
else:
    print("Palindrome ni hai bhai!!")

Palindrome

In [ ]:
n = 71923487
count = 0
while n>0:
    count = count + 1
    n=n//10
   
    
print(count)

8

In [ ]:
n = 344555
count = 0
while n>0:
    count = count + 1
    n=n//10 

print(count)

In [ ]:
# list----->
# tuple
# dict
# set

# list----> 


# creating a list

a = [90,34,56,78,12,32,67]
print(a)

In [ ]:
type(a)

In [ ]:
x = ['hello','bhai',-1,2,3,-45.5,78.2]
x

In [ ]:
type(x)

In [ ]:
#slicing & indexing 
x

In [ ]:
x[3]

In [ ]:
x

In [ ]:
x[0]

In [ ]:
x[3:6]

In [ ]:
x

In [ ]:
x[0:7]

In [ ]:
x[0:]

In [ ]:
x[:]

In [ ]:
x[7:1:-1]

In [ ]:
x[7:0:-1]

In [ ]:
x[7:-1:-1]

In [ ]:
x[::-1]

In [ ]:
x[6]

In [ ]:
x[-1]

In [ ]:
x[-0]

In [ ]:
x[0]

In [ ]:
x

In [ ]:
x[-7:-1]

In [ ]:
x[6:0:-1]

In [ ]:
x[:]

In [ ]:
x[-1:-8:-1]

In [ ]:
#mutable or immutable
x

In [ ]:
x[-2]='welcome nikhil'

In [ ]:
x

In [ ]:
x = ['delhi','mumbai','chennai','osolo','new york','gurgaon']

In [ ]:
x

In [ ]:
type(x)

In [ ]:
x[2]='Bangalore'

In [ ]:
x

In [ ]:
#wap to add the number present in the list.
a = [10,20,30,40]
sum1 = sum(a)
sum1

100

In [ ]:
a = [10,20,30,40]
total = 0
for i in a:
#     print(i)
    total = total+i
print(total)

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = a+b
print(c)

In [ ]:
# function/method in list
# 1.remove
# 2.insert
# 3.pop
x

In [ ]:
x.insert(0,100)

In [ ]:
x

In [ ]:
# 5 ----> boolean??
x.insert(5,True)

In [ ]:
x

In [ ]:
x.pop()

In [ ]:
x.pop()

In [ ]:
x.pop(1)

In [ ]:
x

In [ ]:
x

In [ ]:
x[1]

In [ ]:
x[3]

In [ ]:
x

In [ ]:
for i in x:
    print(i)

In [ ]:
x

In [ ]:
x.remove(True)

In [ ]:
x

In [ ]:
# sort
# reverse
# append

a = [42,9,87,44,99,-2,43,43,78,54]
a.sort()
a

In [ ]:
a

In [ ]:
a.sort(reverse = True)
a

In [ ]:
a = [42,9,87,44,99,-2,43,43,78,54]
a.sort()
a

In [ ]:
a = [42,9,87,44,99,-2,43,43,78,54]
a.reverse()
a

In [ ]:
# append
a = [42,9,87,44,99,-2,43,43,78,54]
a.append(0)
a

In [ ]:
a = [42,9,87,44,99,-2,43,43,78,54]
b=[]
for i in a:
    b.append(8)
#     b = a+i
print(b)

In [ ]:
#Tuple
#it excatly work like list.

a = (1,2,3,4,5,6,7,8,9,0)
print(a)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
type(a)

In [ ]:
a = (1,2,3,4,5,6,7,8,9,0,34.5,56.7,"I","am","python")
a

In [ ]:
type(a)

In [ ]:
# slicing with indexing
a

In [ ]:
a[0]

In [ ]:
# wap to find a data from 9-"I" with the help of negative slicing.
a[-7:-2]

In [ ]:
#tuple method----> count & index
# count---->
a = (1,2,3,0,4,5,6,7,8,9,0,0,34.5,56.7,"I","am","pythoIn","I",'False')
a.count("I")

In [ ]:
# True ==> 1
# false ==> 0


# index
a.index(56.7)

In [ ]:
a = (1,2,3,0,4,5,6,7,[8,9,0,0,34.5,56.7],"I","am","pythoIn","I",'False')
a

(1,
 2,
 3,
 0,
 4,
 5,
 6,
 7,
 [8, 9, 0, 0, 34.5, 56.7],
 'I',
 'am',
 'pythoIn',
 'I',
 'False')

In [ ]:
a[8][1]=900
a

(1,
 2,
 3,
 0,
 4,
 5,
 6,
 7,
 [8, 900, 0, 0, 34.5, 56.7],
 'I',
 'am',
 'pythoIn',
 'I',
 'False')

In [ ]:
# Wap to store 7 fruits items in a list entered by the user.

# Wap to display marks of 5 students & display them in sorted way.

# check if tuple is mutable or not?

#wap to add list of 4 numbers?

#wap to count 7 in the tuple
# t = (7,77,777,-77,87,97,-7)

In [ ]:
#wap to store 3 fruit items in a list entered by the user.
b = []
for i in range(4):
    x = input("enter the friut")
    b.append(x)
    
print(b)

enter the friut55
enter the friut7
enter the friut
enter the friut8
['55', '7', '', '8']

In [ ]:
#wap to display marks of 5 students & display them in sorted way.
a = []
for i in range(5):
    x = int(input("Enter your marks"))
    a.append(x)
    
print("Marks in random order",a)
a.sort()
print("Marks in sorted form",a)

In [ ]:
#check if tuple is mutable or not?
t = (23,'hello mark',78,45.3)
t

(23, 'hello mark', 78, 45.3)

In [ ]:
type(t)

tuple

In [ ]:
t[0]=100

In [ ]:
#wap to add list of 4 numbers?
l = [1,2,3,4]
count = 0
for i in l:
    count = count+i
print(count)

10

In [ ]:
a=[]
for i in range(5):
    x=int(input("enter your marks"))
    a.append(x)
print(a)
a.sort()
print(a)

enter your marks7
enter your marks7
enter your marks6
enter your marks5
enter your marks7
[7, 7, 6, 5, 7]
[5, 6, 7, 7, 7]

In [ ]:
# wap to count 7 in the tuple 
t=(7,77,777,-77,87,97,-7,-7)
t.count(-7)

2

In [ ]:
#dict
x = {
    'name':'Banti bhai'
}

print(x)

{'name': 'Banti bhai'}

In [ ]:
type(x)

dict

In [ ]:
my_dict = {
    'name':'Banti bhai',
    'age':45,
    'marks':90
}
print(my_dict)

{'name': 'Banti bhai', 'age': 45, 'marks': 90}

In [ ]:
#wap to make a dict of emp.
emp = {
    'name':['Banti bhai','A',"B"],
    'age':(45,89,67),
    'salary':[90,89,45]
}
print(emp)

{'name': ['Banti bhai', 'A', 'B'], 'age': (45, 89, 67), 'salary': [90, 89, 45]}

In [ ]:
my_dict = {
    'name':['Banti bhai','A','B','C'],
    'age':45,
    'marks':90
}
print(my_dict)

{'name': ['Banti bhai', 'A', 'B', 'C'], 'age': 45, 'marks': 90}

In [ ]:
# indexing slicing---->
# no index in dict
# no slicing

my_dict['name'][3]=89

print(my_dict)

{'name': ['Banti bhai', 'A', 'B', 89], 'age': 45, 'marks': 90}

In [ ]:
x = {
    'name':['X','Y','Z'],
    'age': (45,89,56),
    'salary':20000,
    'id':1
}

In [ ]:
data_from_dict = x['name']

In [ ]:
data_from_dict[1]

'Y'

In [ ]:
x['name'][-1]

'Z'

In [ ]:
x['name'][2]

'Z'

In [ ]:
x['age']

(45, 89, 56)

In [ ]:
x['age'][1]

89

In [ ]:
x = {
    'name':['X','Y','Z'],
    'age': (45,89,56),
    'salary':20000,
    'id':1,
    
     'a': {
        'rank':'senior',
        'address': ['Noida','Delhi','Goa']
    }
    
    
}
x

{'a': {'address': ['Noida', 'Delhi', 'Goa'], 'rank': 'senior'},
 'age': (45, 89, 56),
 'id': 1,
 'name': ['X', 'Y', 'Z'],
 'salary': 20000}

In [ ]:
x['a']['address'][1]

'Delhi'

In [ ]:
x = {
    'name':['X','Y','Z'],
    'age': (45,89,56),
    'salary':20000,
    'id':1,
    0:2,
    '1':'hari bhai',
    1:'Rana',
    
    
     'a': {
        'rank':'senior',
        'address': ['Noida','Delhi','Goa']
    }
    
    
}
x

{0: 2,
 '1': 'hari bhai',
 1: 'Rana',
 'a': {'address': ['Noida', 'Delhi', 'Goa'], 'rank': 'senior'},
 'age': (45, 89, 56),
 'id': 1,
 'name': ['X', 'Y', 'Z'],
 'salary': 20000}

In [ ]:
x[0]

2

In [ ]:
x['1']

'hari bhai'

In [ ]:
x[1]

'Rana'

In [ ]:
x['a']['address'][2]

'Goa'

In [ ]:
#wap and a dict of student & emp and try to fetch the common data.
s = {
    'name':'A',
    'age':34,
    'add': 'Delhi',
    
    'emp':{
        'name':'A',
        'salary':2,
        'holidays':12,
        'add':'Delhi'
    }
}
s

{'add': 'Delhi',
 'age': 34,
 'emp': {'add': 'Delhi', 'holidays': 12, 'name': 'A', 'salary': 2},
 'name': 'A'}

In [ ]:
s['emp']['name']

'A'

In [ ]:
s['add']

'Delhi'

In [ ]:
s['emp']['add']

'Delhi'

In [ ]:
#Dict method 
# copy
# clear
# pop
# items
# values
# keys
s = {
    'name':'A',
    'age':34,
    'add': 'Delhi',
    
    'emp':{
        'name':'A',
        'salary':2,
        'holidays':12,
        'add':'Delhi'
    }
}

In [ ]:
s

{'add': 'Delhi',
 'age': 34,
 'emp': {'add': 'Delhi', 'holidays': 12, 'name': 'A', 'salary': 2},
 'name': 'A'}

In [ ]:
copy_data = s.copy()

In [ ]:
copy_data

{'add': 'Delhi',
 'age': 34,
 'emp': {'add': 'Delhi', 'holidays': 12, 'name': 'A', 'salary': 2},
 'name': 'A'}

In [ ]:
s

{'add': 'Delhi',
 'age': 34,
 'emp': {'add': 'Delhi', 'holidays': 12, 'name': 'A', 'salary': 2},
 'name': 'A'}

In [ ]:
copy_data

{'add': 'Delhi',
 'age': 34,
 'emp': {'add': 'Delhi', 'holidays': 12, 'name': 'A', 'salary': 2},
 'name': 'A'}

In [ ]:
a = {
    'name':'hello'
}

In [ ]:
x = a

In [ ]:
x

{'name': 'hello'}

In [ ]:
a

{'name': 'hello'}

In [ ]:
a.clear()

In [ ]:
a

{}

In [ ]:
s

{'add': 'Delhi',
 'age': 34,
 'emp': {'add': 'Delhi', 'holidays': 12, 'name': 'A', 'salary': 2},
 'name': 'A'}

In [ ]:
s.pop('age')

34

In [ ]:
s

{'add': 'Delhi',
 'emp': {'add': 'Delhi', 'holidays': 12, 'name': 'A', 'salary': 2},
 'name': 'A'}

In [ ]:
s.pop('add')

'Delhi'

In [ ]:
s

{'emp': {'add': 'Delhi', 'holidays': 12, 'name': 'A', 'salary': 2},
 'name': 'A'}

In [ ]:
# keys
s = {
    'name':'A',
    'age':34,
    'add': 'Delhi',
    
    'emp':{
        'name':'A',
        'salary':2,
        'holidays':12,
        'add':'Delhi'
    }
}

In [ ]:
s

{'add': 'Delhi',
 'age': 34,
 'emp': {'add': 'Delhi', 'holidays': 12, 'name': 'A', 'salary': 2},
 'name': 'A'}

In [ ]:
s.keys()

dict_keys(['name', 'age', 'add', 'emp'])

In [ ]:
s['emp'].keys()

dict_keys(['name', 'salary', 'holidays', 'add'])

In [ ]:
s.keys()

dict_keys(['name', 'age', 'add', 'emp'])

In [ ]:
s['emp'].keys()

dict_keys(['name', 'salary', 'holidays', 'add'])

In [ ]:
# values
s.values()

dict_values(['A', 34, 'Delhi', {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'}])

In [ ]:
s['emp'].values()

dict_values(['A', 2, 12, 'Delhi'])

In [ ]:
x = {
    "bhai1":"muje smj ni aareha hai bhai",
    "bhai2": "muje sab smjh aagya mai expert hu",
    
    "y":{
        'x':'kya haal hai bhai!!'
    }
}

In [ ]:
x

{'bhai1': 'muje smj ni aareha hai bhai',
 'bhai2': 'muje sab smjh aagya mai expert hu',
 'y': {'x': 'kya haal hai bhai!!'}}

In [ ]:
# keys
x.keys()

dict_keys(['bhai1', 'bhai2', 'y'])

In [ ]:
x.keys()

dict_keys(['bhai1', 'bhai2', 'y'])

In [ ]:
x.values()

dict_values(['muje smj ni aareha hai bhai', 'muje sab smjh aagya mai expert hu', {'x': 'kya haal hai bhai!!'}])

In [ ]:
x['y'].keys()

dict_keys(['x'])

In [ ]:
x['y'].values()

dict_values(['kya haal hai bhai!!'])

In [ ]:
x.items()

dict_items([('bhai1', 'muje smj ni aareha hai bhai'), ('bhai2', 'muje sab smjh aagya mai expert hu'), ('y', {'x': 'kya haal hai bhai!!'})])

In [ ]:
s.items()

dict_items([('name', 'A'), ('age', 34), ('add', 'Delhi'), ('emp', {'name': 'A', 'salary': 2, 'holidays': 12, 'add': 'Delhi'})])

In [ ]:
# wap to find fibonacci series??
n1,n2 = 0,1
nterms = 10
count = 0 

if nterms <= 0:
    print("Please entr positive number")
    
elif nterms == 1:
    print(n1)

else:
#     print("sequence")
    while count < nterms:
        print(n1)
        nth = n1+n2
        n1  = n2
        n2  = nth
        count+=1

0
1
1
2
3
5
8
13
21
34

In [ ]:
count = 0
nterms = 10
while count < nterms:
        print(n1)
        nth = n1+n2
        n1  = n2
        n2  = nth
        count+=1

55
89
144
233
377
610
987
1597
2584
4181

In [ ]:
x = 10
a,b=0,1
while x < 100:
#     print(x)
    z = a+b
    a=b
    b=z
    print(z)
    x+=1

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309

In [ ]:
# function syntax----->
# define_the_function  function_name():
# msg


def greet():
    print("hello")

In [ ]:
# function_name()

greet()

hello

In [ ]:
#wap to add two numbers with the help of function?
def add():
    a=1
    b=9
    c= a+b
    print(c)

In [ ]:
add()

10

In [ ]:
# types of function
# 1. no return no arg
# 2. no return with arg
# 3. with arg with return
# 4. with arg no return

In [ ]:
# no arg no return
def add():
    a=1
    b=9
    c= a+b
    print(c)
add()

10

In [ ]:
# with arg no return
def add(x,y):
    result = x+y
    print(result)
    
add(1,2)

3

In [ ]:
#no arg with return

def add():
    a = 9 
    b= 1
    c = a+b
    return (c)
add()

10

In [ ]:
# with arg with return
def add(a,b):
    return (a*b)
#     return result
add(3,50)

150

In [ ]:
#wap to find mix no. from three numbers using function.
#wap to find min no. from three numbers using function.
#Wap to sum all number present in a list.
#wap to check a string is reversed or not?
#Wap to find odd number using funtion.
#wap to find even no. using function.
# Write a function to check a string is palindrome or not?
#Wap to sum the first 10 natural numbers using function?

# Wap to calculate the percentage of 5 students??

# Wap to find out the average cost of 5 quantity each
# quantity is having the value of 80 and if the value exceed by
# avg value then also calculate the total price of whole quantity
# avg value => 350

# Wap to find the area and circumference of circle and also try to find
# if this circle is going to be square or not?

# Calculate the total area of a land having l=20 b=30.If the land
# is greater than 100sq fit then also calculate the cost of 
# remaining land. Price of land is 20000K.

# Wap to find out the average cost of 5 quantity each
# quantity is having the value of 80 and if the value exceed by
# avg value then also calculate the total price of whole quantity
# avg value => 350

In [ ]:
#1->#wap to find mix no. from three numbers using function.
def maximum(a, b, c):
  
    if (a >= b) and (a >= c):
        largest = a
  
    elif (b >= a) and (b >= c):
        largest = b
    else:
        largest = c
          
    return largest
a = 10
b = 14
c = 12
print(maximum(a, b, c))

14

In [ ]:
#wap to find min no. from three numbers using function.
#2->
def manimum(a, b, c):
  
    if (a <= b) and (a <= c):
        smallest = a
  
    elif (b <= a) and (b <= c):
        smallest = b
    else:
        smallest = c
          
    return smallest
a = 10
b = 14
c = 12
print(manimum(a, b, c))

10

In [ ]:
#Wap to sum all number present in a list.
#3->
a=[2,2,3,4,4]
total=0
for i in a:
    total=total+i
print(total)

15

In [ ]:
#wap to check a string is reversed or not?
#4->
def reverse(str):
    string = " "
    for i in str:
        string = i + string
    return string
str = "rana singh"
print("The original string is:",str)
print("The reverse string is:", reverse(str))

The original string is: rana singh
The reverse string is: hgnis anar

In [ ]:
#Wap to find odd number using function.
#5=>
def rana():
   x=9
   if x % 2 == 0:
       print("even number")
   else:
       print("odd number")
rana()

odd number

In [ ]:
# decimal to binary
def btd(num):
    if num>=1:
        btd(num//2)
    print(num%2,end="")
dec_val = 28
btd(dec_val)

011100

In [ ]:
x= 0
while x<20:
  x=x+3
print(x)

21

In [ ]:
# Wap to convert tuple to string!!
# Use str.join() to convert tuple to string.
def func():
    tup1 = ('h','e','l','l','o')
    str = ''.join(tup1)
    print (str)
func()

In [ ]:
#wap to find even no. using function.
#6=>
def no():
   x=int(input("enter the number"))
   if x%2==0:
      print("odd number")
   else:
      print("even number")
no()

In [ ]:
# Write a function to check a string is palindrome or not?
#7=>
def str():
   x="ana"
   y=''
   for i in x:
      y=i+y
   if x==y:
       print("palindrome")
   else:
       print("no palindrome")
str()

In [ ]:
#Wap to sum the first 10 natural numbers using function?
#8=>
def add_list():
    total = 0
    for i in range(11):
        total = total+i
    print(total)
    
add_list()

In [ ]:
# Wap to calculate the percentage of 5 students??
#9=>
def grade():
    total=float(input("marks of students"))
    percentage=(total/500.0)*100
    print(percentage)

grade()

marks of students456
91.2

In [ ]:
# Calculate the total area of a land having l=20 b=30.If the land
# is greater than 100sq fit then also calculate the cost of 
# remaining land. Price of land is 20000K.
#13->

def fun():
    l = 20
    b = 30
    landArea = 100

    area = l*b

    if area > 100:
        remainland = area - landArea
        print(remainland)

        cost = remainland * 20000
        print(cost)
        
fun()

500
10000000

In [ ]:
def add(x,y=7):
    c = x+y
    return c
add(9)

16

In [ ]:
def add(x=6,y=7):
    c = x+y
    return c
add(9)

16

In [ ]:
def add(x=6,y=7):
    c = x+y
    return c
add()

13

In [ ]:
def add(x=6,y=7):
    c = x+y
    return c
add(9,11)

20

In [ ]:
def add(x=6,y=7):
    c = x+y
    return c
add('x',7)

TypeError: ignored

In [ ]:
def add(x=6,y):
    c = x+y
    return c
add('x')

SyntaxError: ignored

In [ ]:
def add():
    c = x+y
    return c
add(x = 5,y = 7)

TypeError: ignored

In [ ]:
#oops->

class bike:
    a = 10
    print (a)
    
b=bike()

10

In [ ]:
#wap to greet hello hi how are you using class and object!!

class greet:
    a = "hello bhai !! dev kaise ho??"
    print(a)
    
g = greet()

hello bhai !! dev kaise ho??

In [ ]:
class student:
    def info(self):
        name = 'Dev'
        print(name)
        
s = student()
s.info()

Dev

In [ ]:
#wap to add two number with the help of class and object using function.
class add:
    def add2(self):
         a=4
         b=8
         c=a+b
         print(c)
n = add()
n.add2()

12

In [ ]:
#wap to add two number with the help of class and object using function.

class add:
    def adding(self,x,y):
        result = x+y
        return result
a = add()
a.adding(1,2)

3

In [ ]:
                  # Constructor------> 
#wap to make class of emp having name,age & salary with the help of 
# constructor.


class emp:
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
        
e = emp('A',23,34000)

In [ ]:
e.name,e.age,e.salary

('A', 23, 34000)

In [ ]:
#wap and make a class of emp having properties of name , 
# age & salary and 
 #   dery to get the ouput of the data with the help of constructor!!
# also find the avg salary of the emp.
class emp:

    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
#         print(salary/12)
        
#     function for avg salary
    def avg_sal(self):
        sal = self.salary/12
        return sal
e = emp ('A',23,340000)

In [ ]:
e.avg_sal()

28333.333333333332

In [ ]:
# wap to find the speed of the car which cover 
# a distance of 14km in 20min.Find the speed in km/hr
# with the help of constructor.
#1-
class velocity:
    def __init__(self,distance,time):
        self.distance=distance
        self.time=time/60
    def avg_speed (self):
        speed=self.distance/self.time
        return speed
v= velocity (14,20)

In [ ]:
v.avg_speed()

42.0

In [ ]:
#-2
class car:
    def __init__(self,dis,time):
        self.dis = dis
        self.time = time
        
    def speed(self):
        t = self.time/60
        s = self.dis/t
        return s
    
c = car(14,20)

In [ ]:
c.speed()

42.0

In [ ]:
#wap to make a class of automobile and try to calculate 
# the price of the
# car if the car is of 20 lakh then you have to pay 
# the tax of 20%,
# and the showroom give a discount of 7% on your 
# purchase,so try to 
# find the actual cost of the car with the help 
# of constructor??
class info:
    def __init__(self,price):
        self.price = price
        
    def total_price(self):
        tax = (self.price * 20 )/100
        dis = (self.price * 7)/100
        print("Tax is ----->",tax)
        print("Discount----->",dis)
        
        total_tax = self.price+tax
        total_dis = self.price-dis
        print(total_tax)
        print(total_dis)
        
        actual_price = total_tax - total_dis
        print("Actual Price of car-------->",actual_price)
        
i = info(2000000)
i.total_price()

Tax is -----> 400000.0
Discount-----> 140000.0
2400000.0
1860000.0
Actual Price of car--------> 540000.0

In [ ]:
                         #Inheritance

In [ ]:
#parent method-->
class parent:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
class child(parent):
    def __init__(self,name,age,phone):
        parent.__init__(self,name,age)
        self.phone = phone
        
c = child('A',23,1234)

In [ ]:
c.name

'A'

In [ ]:
#super method--->
class Parent:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
class child(Parent):
    def __init__(self,name,age,phone):
        super().__init__(name,age)
        self.phone = phone
        
c = child('A',23,1234)

In [ ]:
c.name

'A'

In [ ]:
#1->
# wap and make a class of emp and try to inherit the common properties
# from  the emp and try to find the salary of emp if the emp take more
# than 12 holidays total salary will deducted by 5%.
class emp1:
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
#         self.leave = leave
        
class emp2(emp1):
    def __init__(self,name,age,salary):
        super().__init__(name,age,salary)
        
        
    def holiday(self,leave):
        if leave>12:
            ded = self.salary * 0.05
            print(ded)
        
        
e = emp2('A',45,3400000)

In [ ]:
e.salary

3400000

In [ ]:
e.holiday(100)

170000.0

In [ ]:
#2.wap to make a class of vechicle and define its attributes like 
# speed, color & engine and try to find out the total dist covered of
# the particular vechile which having a speed of 80km/hr within 3hr.

#3. wap and make a class of emp and try to inherit the common properties
# from  the emp and try to find the salary of emp if the emp take more
# than 12 holidays total salary will deducted by 5% and if the emp take 0 
# holiday
# then salary will be bonus by 7 % and also if a emp take atmost 6 holiday
# then 2% of the salary is given to the emp.

#4.wap to make a class and inherit the property of transport class like
# color,milage,and speed also a child class which is having no unique property
# to display.

#5.wap to make a class of having no properties,attribute or method(empty class)
# just try to 
# make the object of the empty class and try to get the output of the code.

#6.wap and try to get the attributes of the particular 
# class through the object.

In [ ]:
#2.wap to make a class of vechicle and define its attributes like 
# speed, color & engine and try to find out the total dist covered of
# the particular vechile which having a speed of 80km/hr within 3hr.

class vechicle:
     def __init__(self,speed,color,engine):
         self.speed = speed
         self.color = color
         self.engine = engine

class vechicle2(vechicle):
      def __init__(self,speed,color,engine,time):
          super().__init__(speed,color,engine)
          self.time = time

      def total_dis(self):
          total_dis = self.speed*self.time
          return total_dis

v=vechicle2(80,'red','rtr',3)

In [ ]:
v.total_dis()

240

In [ ]:
#3. wap and make a class of emp and try to inherit the common properties
# from  the emp and try to find the salary of emp if the emp take more
# than 12 holidays total salary will deducted by 5% and if the emp take 0 
# holiday
# then salary will be bonus by 7 % and also if a emp take atmost 6 holiday
# then 2% of the salary is given to the emp.
class emp1:
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
class emp2(emp1):
     def __init__(self,name,age,salary):
         super().__init__(name,age,salary)

     def holiday(self,leave):
         if leave>12:
            deduct = self.salary*0.05
            print(deduct)

         elif leave == 0:
              bonus = self.salary*0.07
              print("bonus is---->",bonus)

         if leave == 6:
            salary = self.salary*0.06
            print("salary is----->",salary)

e = emp2('rana',25,45678)

In [ ]:
e.salary

45678

In [ ]:
e.holiday(15)

2283.9

In [ ]:
#4.wap to make a class and inherit the property of transport class like
# color,milage,and speed also a child class which is having no unique property
# to display.
class transport:
     def __init__(self,color,milage,speed):
         self.color = color
         self.milage = milage
         self.speed = speed

class transpot2(transport):
     def __init__(self,color,milage,speed):
         super().__init__(color,milage,speed)

t=transpot2('green',34,70)

In [ ]:
t.color

'green'

In [ ]:
#5.wap to make a class of having no properties,attribute or method(empty class)
# just try to 
# make the object of the empty class and try to get the output of the code.
class person:
    pass

person()

In [ ]:
#6.wap and try to get the attributes of the particular 
# class through the object.

class person:
    def __init__(self,name):
        self.name = name
        
p = person("Bahuballi")
p.name

'Bahuballi'

In [ ]:
#6->     with the help of funtion
class person:
    def info(self,name,age):
        print(name)
        print(age)
        
        
p = person()
p.info("Bahuballi",345)

Bahuballi
345

In [ ]:
#                  Multilevel Inheritance

In [ ]:
# Method 1.
# inherit from gpc to pc to child
class gpc:
    def __init__(self,name):
        self.name= name
        
class pc(gpc):
    def __init__(self,name,age):
        super().__init__(name)
        self.age = age
        
class child(pc):
    def __init__(self,name,age,marks):
        super().__init__(name,age)
        self.marks = marks
        
    
c = child("Jacky",34,89)

In [ ]:
c.name

'Jacky'

In [ ]:
# Method 2.
# inherit from gpc to pc
class gpc:
    def __init__(self,name):
        self.name= name
        
class pc(gpc):
    def __init__(self,name,age):
        super().__init__(name)
        self.age = age
        
class child(pc):
    def __init__(self,name,age,marks):
        super().__init__(name,age)
        self.marks = marks
        
p = pc("A",78)

In [ ]:
p.age

78

In [ ]:
# Method 3:
# inherit from gpc to child
class gpc:
    def __init__(self,name):
        self.name= name
        
class pc(gpc):
    def __init__(self,name,age):
        super().__init__(name)
        self.age = age
        
class child(gpc):
    def __init__(self,name,marks):
        super().__init__(name)
        self.marks = marks
        
c = child("A",89)

In [ ]:
c.name,c.marks

('A', 89)

In [ ]:
# Method 4:
# inherit from pc to child.
class gpc:
    def __init__(self,name):
        self.name= name
        
class pc:
    def __init__(self,age):
        self.age = age
        
class child(pc):
    def __init__(self,age,marks):
        super().__init__(age)
        self.marks = marks
        
c = child(24,89)

In [ ]:
c.age

24

In [ ]:
#wap make your parent class as empty class and also try to make a normal class
# having some attributes related to students and try to find out the average
# marks 
# of the student through the function itself and try to get the output of the 
# empty parent class normal class and the child class. 

class per:
    pass
per()

class stu:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        

class child(stu):
    def __init__(self,name,age,marks):
        super().__init__(name,age)
        self.marks = marks

    def no_of_students(self,no_of_students):
        avg_marks_of_students = self.marks/no_of_students
        print(avg_marks_of_students)

s = child("rana",25,455)

In [ ]:
s.age

25

In [ ]:
s.no_of_students(2)

227.5

In [ ]:
                     #  Encapsulation
# public
class student:
    def info(self,name,age):
        print(name)
        print(age)
        
s= student()
s.info('A',34)

A
34

In [ ]:
# private
class std:
    name = 'A'
    __age = 34
    
s = std()
s.name

'A'

In [ ]:
s.age

AttributeError: ignored

In [ ]:
# protected
class emp:
    name = 'john'
    __age = 45
    _salary = 78000
    
e = emp()
e.name

'john'

In [ ]:
e.age

AttributeError: ignored

In [ ]:
e.salary

AttributeError: ignored

In [ ]:
e._salary

78000

In [ ]:
# variables

#wap to make a function public private & protected.
# public with function
class emp:
    def detail(self,name,salary,emp_id):
        print(name)
        print(salary)
        print(emp_id)
e = emp()
e.detail('Jem',34000,'121KSW')

Jem
34000
121KSW

In [ ]:
# privet with function
class emp:
    def __detail(self,name,salary,emp_id):
        print(name)
        print(salary)
        print(emp_id)
                
e = emp()
e.detail('Jem',34000,'121KSW')

AttributeError: ignored

In [ ]:
# protected with function
class emp:
    def _detail(self,name,salary,emp_id):
        print(name)
        print(salary)
        print(emp_id)

e = emp()
e.detail('Jem',34000,'121KSW')

AttributeError: ignored

In [ ]:
# unprotected with function
class emp:
    def _detail(self,name,salary,emp_id):
        print(name)
        print(salary)
        print(emp_id)
        
        

        
e = emp()
e._detail('Jem',34000,'121KSW')

Jem
34000
121KSW

In [ ]:
                  # Polymorphism
# Overloading----->

# 1. operator overloading   ------> +
# 2. method overloading

In [ ]:
# 1. operator overloading  -------> +
# two type of addetion
# 1=>
a = 1
b = 2
c = a+b
c

3

In [ ]:
# 2=>
a = '1'
b = '2'
c = a+b
print(c)

12

In [ ]:
# 2-> method overloading......

def x(a,b=9):
    result = a+b
    return result
x(1,2)

3

In [ ]:
x(6,8)

14

In [ ]:
x(4)

13

In [ ]:
# # try to implement these code in class and object.
class add:
    def x(self,a,b=9):
        c = a+b
        return c
a=add()    
a.x(1,2)

3

In [ ]:
                         # Abstraction

from abc import ABC,abstractmethod

class a(ABC):
    @abstractmethod
    def info(self):
        print("hello")
    
class b:
    def detail(self):
        print("Hello iron man")
class c(b):
    def information(self):
        print("Batman")
        
x = a()
x.detail()
x.info()

TypeError: ignored

In [ ]:
                      # advance function
# Lambda Function
def fun(a,b):
    result = a+b
    return result

fun(3,4)

7

In [ ]:
a = lambda x,y:x+y,x-y
a(3,4)

NameError: ignored

In [ ]:
#wap to add a number with the help of lambda function.
c = lambda x:x+4
c(2)

6

In [ ]:
a = lambda x,y,z : x+y*z-x
a(1,2,3)

6

In [ ]:
# filter 

a = [23,67,90,34,78,45,55,99,21]
for i in a:
    if i>=60:
        print(i)

67
90
78
99

In [ ]:
def fun():
    a = [23,67,90,34,78,45,55,99,21]
    for i in a:
        if i>=60:
            print(i)
            
fun()

67
90
78
99

In [ ]:
# function + filter function
a = [23,67,90,34,78,45,55,99,21,67]

def fun(a):
    if a>=60:
        return True
    else:
        return False
    
x = list(filter(fun,a))
print(x)

[67, 90, 78, 99, 67]

In [ ]:
x

[67, 90, 78, 99, 67]

In [ ]:
x[0]=100

In [ ]:
x

[100, 90, 78, 99, 67]

In [ ]:
# lambda + filter function

a = [23,67,90,34,78,45,55,99,21,67]
tuple(filter(lambda a:True if a>=60 else False,a))

(67, 90, 78, 99, 67)

In [ ]:
a = [23,67,90,34,78,45,55,99,21,67]
x = tuple(filter(lambda a:True if a>=60 else False,a))
print(x)

(67, 90, 78, 99, 67)

In [ ]:
# 1.Write a Python program to create a lambda function that adds 15 
# to a given number passed in as an argument, also create a lambda 
# function that multiplies argument x with argument y and 
# print the result.


a = lambda x:x+15
a(5)

20

In [ ]:
result = lambda x,y:x*y
result(14,5)

70

In [ ]:
# map function

a = [2,5,7,9]

z = list(map(lambda x:x**2,a))

In [ ]:
print(z)

[4, 25, 49, 81]

In [ ]:
a = [2,5,7,9]
list(map(lambda x:x+5,a))

[7, 10, 12, 14]

In [ ]:
# reduce function.
from functools import reduce

In [ ]:
a = [23,56,89,23,56,78,12,45,90,99,7,43,34,12,34]
reduce(lambda x,y:x+y,a)

701

In [ ]:
a = [1,2,3,4]
list(map(lambda x,y,z:x+y+z,a))

TypeError: ignored

In [ ]:
a = [23,56,89,56,78,12,45,90,99,7,43,34,12,34]
z = reduce(lambda x,y:x+y,a)
print(z)
print(type(z))

678
<class 'int'>

In [ ]:
#                    questions

#2.Write a Python program to create a function that takes one argument, 
#and that argument will be multiplied with an unknown given number. 

#Sample Output:
#Double the number of 15 = 30
#Triple the number of 15 = 45
#Quadruple the number of 15 = 60
#Quintuple the number 15 = 75

#3. Write a Python program to filter a list of integers using Lambda.
 
#Original list of integers:
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Even numbers from the said list:
#[2, 4, 6, 8, 10]
#Odd numbers from the said list:
#[1, 3, 5, 7, 9]

#4.Write a Python program to check whether a given string is number 
#or not using Lambda.

#5.Write a Python program to count the even, odd numbers in a given
#list of integers using Lambda.
#Original list:
#[1, 2, 3, 5, 7, 8, 9, 10]

#6.Write a Python program to add two given lists using map and lambda. 
#Original list:
#[1, 2, 3]
#[4, 5, 6]
#Result: after adding two list
#[5, 7, 9]

#7.Write a Python program to find numbers divisible by nineteen or 
#thirteen from a list of numbers using Lambda.
#Orginal list:
#[19, 65, 57, 39, 152, 639, 121, 44, 90, 190]
#Numbers of the above list divisible by nineteen or thirteen:
#[19, 65, 57, 39, 152, 190]

#8.Write a Python program that multiply each number of given list 
#with a given number using lambda function. Print the result.
#Original list: [2, 4, 6, 9, 11]
#Given number: 2

#9->Write a Python program to triple 
#all numbers of a given list of integers. 
#Use Python map

#10->Write a Python program to add three 
#given lists using Python map and lambda. 

#11-> Write a Python program to square the 
#elements of a list using map() function. 

#12=wap a program to find the average of 5 numbers using lamda 
# function.

# 13=>Wap to find the max and min of 3 numbers and find their average
# with the help of lamda function.

In [ ]:
#2.Write a Python program to create a function that takes one argument, 
#and that argument will be multiplied with an unknown given number. 

#Sample Output:
#Double the number of 15 = 30
#Triple the number of 15 = 45
#Quadruple the number of 15 = 60
#Quintuple the number 15 = 75

a= lambda x:x*15
a(2)

30

In [ ]:
a= lambda x:x*15
a(3)

45

In [ ]:
a= lambda x:x*15
a(4)

60

In [ ]:
a = lambda x:x*15
a(5)

75

In [ ]:
#3. Write a Python program to filter a list of integers using Lambda.
 
#Original list of integers:
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Even numbers from the said list:
#[2, 4, 6, 8, 10]
#Odd numbers from the said list:
#[1, 3, 5, 7, 9]
p = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
p=[1, 2, 3, 4, 5, 6, 7, 8, 9,10 ]
even_num=list(filter(lambda x:True if x%2==0 else False ,p))
print(even_num)

[2, 4, 6, 8, 10]

In [ ]:
p=[1, 2, 3, 4, 5, 6, 7, 8, 9 ]
odd_num=list(filter(lambda x:True if x%2!=0 else False ,p))
print(odd_num)

[1, 3, 5, 7, 9]

In [ ]:
#4.Write a Python program to check whether a given string is number 
#or not using Lambda.
a='123'
print(a)
print(type(a))

123
<class 'str'>

In [ ]:
#5.Write a Python program to count the even, odd numbers in a given
#list of integers using Lambda.
#Original list:
#[1, 2, 3, 5, 7, 8, 9, 10]

list_nums=[1,2,3,4,5,6,7,8,9,10]
odd_no = len(list(filter(lambda x: (x%2 != 0) , list_nums)))
even_no =len(list(filter(lambda x: (x%2 == 0) ,list_nums)))
print(odd_no)
print(even_no)

5
5

In [ ]:
#6.Write a Python program to add two given lists using map and lambda. 
#Original list:
#[1, 2, 3]
#[4, 5, 6]
#Result: after adding two list
#[5, 7, 9]
a =[1,2,3]
b =[4,5,6]
list(map(lambda x,y:x+y,a,b))

[5, 7, 9]

In [ ]:
##7.Write a Python program to find numbers divisible by nineteen or 
#thirteen from a list of numbers using Lambda.
#Orginal list:
#[19, 65, 57, 39, 152, 639, 121, 44, 90, 190]
#Numbers of the above list divisible by nineteen or thirteen:
#[19, 65, 57, 39, 152, 190]

a = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]

z = list(filter(lambda x:(x % 19 == 0 or x % 13 == 0),a))

In [ ]:
print(z)

[19, 65, 57, 39, 152, 190]

In [ ]:
#8.Write a Python program that multiply each number of given list 
#with a given number using lambda function. Print the result.
#Original list: [2, 4, 6, 9, 11]
#Given number: 2

num = [2,4,6,9,11]
z = list(map(lambda x:x*2,num))

In [ ]:
print(x)

[4, 8, 12, 18, 22]

In [ ]:
#9->Write a Python program to triple 
#all numbers of a given list of integers. 
#Use Python map
a = [2,3,4,5,6,7]
z = list(map(lambda x:x*3,a))

In [ ]:
print(z)

[6, 9, 12, 15, 18, 21]

In [ ]:
#10->Write a Python program to add three 
#given lists using Python map and lambda. 
a =[1,2,3,4]
b =[5,6,7,8]
c =[9,10,11,12]
list(map(lambda x,y,z:x+y+z,a,b,c))

[15, 18, 21, 24]

In [ ]:
#11= write a python program to square the elements of a list using map
#function
a =[2,3,4,5,6]
list(map(lambda x:x**2,a))

[4, 9, 16, 25, 36]

In [ ]:
#12= wap to find the average of 5 numbers using lambda function,
a = lambda x,y,z,e,r : (x+y+z+e+r)/5

In [ ]:
a(1,2,3,4,5)

3.0

In [ ]:
#13 wap to find the max and min of 3 numbers and find their average 
#with the help of lambda function.
a=2
b=3
c=4

In [ ]:
                     # Regex

import re

In [ ]:
#1= search
#2= findall
#3= sub
#4= finditer
#5= split

#1-> findall

a = 'I am a lion.Lion is a wild animal.lion is very chill bro.'
x = re.findall('i',a)

In [ ]:
x

['i', 'i', 'i', 'i', 'i', 'i', 'i', 'i']

In [ ]:
#search

a = 'I am a lion.Lion is a wild animal.lion is very chill bro.'

In [ ]:
re.search('lion',a)

In [ ]:
# sub
a = 'I am a lion.Lion is a wild animal.lion is very chill bro.'
re.sub('lion','tiger',a)

'I am a tiger.Lion is a wild animal.tiger is very chill bro.'

In [ ]:
# split----> 
a = 'I am a lion.Lion is a wild animal.lion is very chill bro.'
re.split('lion',a)

['I am a ', '.Lion is a wild animal.', ' is very chill bro.']

In [ ]:
# finditer
a = 'I am a lion.Lion is a wild animal.lion is very chill bro.'
pattern = 'lion is'
for i in re.finditer(pattern,a):
    x = i.start()
    y = i.end()
    print("Starting point is---->",x,"Ending point is ------>",y)

Starting point is----> 34 Ending point is ------> 41

In [ ]:
for i in re.finditer('i',a):
    x = i.start()
    y = i.end()
    print("Starting point---->",x,"Ending point---->",y)

Starting point----> 8 Ending point----> 9
Starting point----> 13 Ending point----> 14
Starting point----> 17 Ending point----> 18
Starting point----> 23 Ending point----> 24
Starting point----> 29 Ending point----> 30
Starting point----> 35 Ending point----> 36
Starting point----> 39 Ending point----> 40
Starting point----> 49 Ending point----> 50